*{
    font-family: "Inika","serif";
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url("Tetras-immio.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button-modal{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.separator{
    border-bottom: solid black;
    display: inline-block;
    width: 100px;
}

.sub-title{
    display: inline-block;
    margin: 0 10px;
}

.container-portfolio,
.imgs-portfolio{
    max-width: 800px;
}

.bi{
    font-size: 100px;
}

footer{
    color:white;
    width: 100%;
}

footer .container,
.footer-row{
    width: 100%;
}

.modal-dialog{
    width: 60%;
    max-width: unset;
}
.modal-content{
    padding: 10px;
}

.carousel-item img{
    height: 500px !important;
    max-height: 500px !important;
}

.carousel-item div{
    margin: 10px 10px;
}

.lorel-ipsum-content-carousel{
    max-height: 200px;
    height: 200px;
}

.carousel-control-next, .carousel-control-prev{
    top:250px;
    align-items: unset;
}

.carousel-indicators{
    bottom:250px;
}

@media (max-width: 900px) {
    header{
        background-image: url("logo-tetras-immo.webp");
        height: 50vh;
        margin-bottom: 20px;
    }

    .devise{
        display: none;
    }

    .img-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
        margin-bottom: 10px!important;
    }

    .img-wrapper div{
        width: unset;
    }

    .container-portfolio{
        margin-bottom: 0;
    }


    .our-expertise-child {
        flex-direction: column;
    }

    .sub-title-wrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .sub-title-wrapper h2{
        font-size: 20px;
    }
    .expertise-child-wraper{
        width: 90%;
    }

    .reverse{
        flex-direction: column-reverse;
    }

    .different-item-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .different-item-wrapper div{
        width: unset;
    }

    .footer-items-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-container{
        margin: 0 0 0 0;
        padding: 0 0 0 0;

    }

    .footer-items-wrapper div{
        width: 50%;
    }

    .modal-dialog{
        margin: auto;
        width: 90%;
    }

    .carousel-item img{
        height: 300px !important;
        max-height: 500px !important;
    }

    .carousel-control-next, .carousel-control-prev{
        top:140px;
        align-items: unset;
    }

    .carousel-indicators{
        display: none;
    }

    .modal{
        margin-top: 50px ;
    }

}
