*{
    font-family: "Inika","serif";
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url("Tetras-immio.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.separator{
    border-bottom: solid black;
    display: inline-block;
    width: 100px;
}

.sub-title{
    display: inline-block;
    margin: 0 10px;
}

.container-portfolio,
.imgs-portfolio{
    max-width: 800px;
}

.bi{
    font-size: 100px;
}

footer{
    color:white;
    width: 100%;
}

footer .container,
.footer-row{
    width: 100%;
}